<!DOCTYPE html>
<html>
  <head>
    <title>Crm2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .customer-info {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #f8f9fa;
      h2 {
    color: #007bff;
  }

  p {
    margin-bottom: 10px;
  }

  .customer_image {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
